S3method("*",Quantity)
S3method("+",Quantity)
S3method("-",Quantity)
S3method("/",Quantity)
S3method("[",Quantity)
S3method("[<-",Quantity)
S3method("[[",Quantity)
S3method("[[<-",Quantity)
S3method("^",Quantity)
S3method(as.Quantity,Quantity)
S3method(as.Quantity,numeric)
S3method(as.Signature,Quantity)
S3method(as.Signature,Signature)
S3method(as.Signature,Unit)
S3method(as.Signature,character)
S3method(as.Unit,Quantity)
S3method(as.Unit,Unit)
S3method(as.Unit,character)
S3method(as.Unit,numeric)
S3method(as.character,Quantity)
S3method(format,Quantity)
S3method(format,Unit)
S3method(print,Quantity)
S3method(print,Signature)
S3method(print,Unit)
export(add_dimension)
export(add_unit)
export(as.Quantity)
export(as.Signature)
export(as.Unit)
export(convert)
export(is.Quantity)
export(is.Signature)
export(name.unit)
export(units)
