S3method("*",Quantity)
S3method("+",Quantity)
S3method("-",Quantity)
S3method("/",Quantity)
S3method("[",Quantity)
S3method("^",Quantity)
S3method(as.Quantity,Quantity)
S3method(as.Signature,Unit)
S3method(as.Unit,Unit)
S3method(as.Unit,character)
S3method(format,Quantity)
S3method(format,Unit)
S3method(print,Quantity)
S3method(print,Unit)
export(add_unit)
export(as.Signature)
export(as.Unit)
export(is.Signature)
export(is.Unit)
